# Gemini API Configuration
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Google OAuth Configuration
GOOGLE_CLIENT_ID= YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE

# App Configuration
PORT=8000
HOST=localhost